[Unit]
Description=Gunicorn instance to serve my-app
After=network.target

[Service]
User=josh
WorkingDirectory=/home/josh/battery-limiter
Environment="VIRTUAL_ENV=/home/josh/battery-limiter/venv"
ExecStart=/home/josh/battery-limiter/venv/bin/gunicorn --workers 3 --bind 0.0.0.0:8888 wsgi:app
Restart=always

[Install]
WantedBy=multi-user.target
