[Unit]
Description=Gunicorn instance to serve my-app
After=network.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/Users/josh/my-code/battery
ExecStart=/opt/homebrew/bin/pipenv run gunicorn --workers 3 --bind unix:my-app.sock -m 007 wsgi:app
Restart=always

[Install]
WantedBy=multi-user.target
