[Unit]
Description=Gunicorn instance to serve my-app
After=network.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/home/pi/battery-limiter
ExecStart=/home/pi/battery-limiter/venv/bin/gunicorn --workers 3 --bind 0.0.0.0:8888 wsgi:app
Restart=always

[Install]
WantedBy=multi-user.target
